{% extends 'base.html' %}
{% load static %}

   {% block content %}
<div class="about">

<p id="p1">Indian Academy Started in 15th August 2017.We provide our best teaching to the students to secure high grades and again an adequate knowledge  for their future. We provide home tuitions also.</p><br>
<p id="p2">We also provide home tuitions with excellent teaching staff</p><br>
<p id="p3">A good home tutor develops interest in their students who are weak in some particular subjects. He finds different modules and methods to create involvement of students in their targeted subjects and topics</p><br>
<p id="p4">The work of home tutor is to provide proper guidence to his students whenever they require, find easiest ways to solve their queries, assist them to complete their projects given in their schools and colleges, make them strong in their weak fields; for example, if a student is weak in Mathematics, English and others so this is the work of home tutor to polish him and make him perfect in his subject related issues. The work of good home tutor does not end with his subject. His work ends when a student becomes a good human being while getting growth in his career </p><br><br><br>

    <p>We have 1,000+ qualified tuition teachers to work with students of all ages from Pre-Nursery to Post Graduate, covering all academic and competitive subjects. Search for the best home tutor in your local area and get one to one free trial session.</p>
</div>
    {% endblock %}